:root{
    --primary-color:#374151;
}

body{
    margin:0;
}

*{
    box-sizing: border-box;
}
.nav-bar{
    width:100%;
    background-color: var(--primary-color);
    height:10vh;
    margin:auto;
    text-align: center;
    font-style: bold;
    color:white;
    font-size: 2rem;
    padding-top: 1rem;
}

.main-container{
    width: 1000px;
    border:1px solid black;
    height: 70vh;
    margin: auto;
    font-weight: bold;
}
.contents-container{
    margin: auto;
    height:45vh;
    width: 100%;
    border: 1px solid red;
}
.title{
    margin: 50px 0px 0px 100px;
    
    width: 100px;
}
#input-area-title{
    width:70%;
    height:5vh;
    margin: 10px 0px 0px 100px;
}

p{
    margin: 5px 0px 0px 100px;
    font-weight: lighter;
    font-size: 0.7rem;
}

.description{
    margin: 20px 0px 0px 100px;
}

#description-box{
    margin: 10px 0px 0px 100px;
    width: 70%;
    height: 15vh;
}

#add-to-list{
    margin: 6px 0px 0px 100px;
    display: block;
    /* background-color:#78716c; */
}

.items{
    margin: 6px 0px 0px 100px;
    font-size: 2rem;
    font-weight: lighter;
}

.table{
    border: 1px solid black;
    margin: 6px 0px 0px 100px;
    width:70%;
}